.portfolio__side-nav-container {
  position: fixed;
  top: 0vh;
  left: 0;
  height: 100svh;
  z-index: 1;
}

.portfolio__side-nav-container:hover .side-nav,
.portfolio__side-nav-container:focus-within .side-nav {
  transform: translate(0);
  transition: 0.75s;
}

.portfolio .side-nav {
  background-color: var(--bg-color);
  transform: translate(-200px);
  transition: 0.75s;
}

.portfolio .nav-btn {
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 0.25rem;
}

.portfolio .nav-btn:hover,
.portfolio .nav-btn:focus {
  background-color: var(--font-color);
}

.portfolio__title {
  font-size: 2.5rem;
}

.portfolio__subtitle {
  font-size: 1.5rem;
}

.portfolio .welcome__wave {
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    scale: 1.2;
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

.portfolio .welcome__image {
  filter: grayscale(100%);
}

.portfolio .project {
  position: relative;
  border: solid 1px var(--font-color);
  color: var(--font-color-inverse);
  border-radius: 0.5rem;
  width: min(25rem, 82.5vw);
  overflow: clip;
}

.portfolio .project__info {
  scale: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--font-color);
  transition: 0.5s;
}

.portfolio .project:hover .project__info,
.portfolio .project:focus-within .project__info {
  scale: 1;
  transition: 0.5s;
}

.portfolio .project__desc {
  text-align: center;
}

.portfolio .project__link {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: var(--font-color-inverse);
  color: var(--font-color);
  text-decoration: none;
  border-radius: 100%;
  transition: 0.25s;
}

.portfolio .project__link:hover,
.portfolio .project__link:focus {
  scale: 1.15;
  transition: 0.25s;
}

.portfolio .skills__skill {
  width: 100%;
  max-width: 20rem;
  height: 15rem;
  border: solid 1px var(--font-color);
  border-radius: 0.75rem;
  transition: 0.25s;
}
.portfolio .skills__skill:hover {
  background-color: var(--font-color);
  color: var(--font-color-inverse);
  transition: 0.25s;
}

.portfolio .skill__icon {
  font-size: 6rem;
}

.portfolio .contact__message {
  resize: none;
  height: 25vh;
}

.portfolio .contact__link {
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
